<div class="">
    <ul class="list-unstyled">
        {% for category in categories %}
            {% set _totalPosts = category.enabledPosts.count() %}
            <li><a href="{{ path('wbc_blog_category_list', {'category': category.slug}) }}">{{ category.name }}
                    ({{ _totalPosts }})</a>
            </li>
        {% endfor %}
    </ul>
</div>