{% if object.appointment is not null %}
    <a href="{{ path('admin_wbc_branch_appointment_show', {id: object.appointment.id}) }}" class="btn btn-sm btn-info view_link"
       title="Show Appointment">
        <i class="fa fa-calendar"></i> Show Appointment
    </a>
{% elseif is_granted('ROLE_SONATA_ADMIN_ADMIN_BRANCH_APPOINTMENT_CREATE') %}
    <a href="{{ path('admin_wbc_valuation_valuation_generateAppointment', {id: object.id}) }}"
       class="btn btn-sm btn-danger view_link"
       title="Generate Appointment">
        <i class="fa fa-calendar"></i> Generate Appointment
    </a>
{% endif %}