# This file is a "template" of what your parameters.yml file should look like
# Set parameters here that may be different on each deployment target of the app, e.g. development, staging, production.
# http://symfony.com/doc/current/best_practices/configuration.html#infrastructure-related-configuration
parameters:
    database_host:     127.0.0.1
    database_port:     ~
    database_name:     symfony
    database_user:     root
    database_password: ~
    # You should uncomment this if you want use pdo_sqlite
    # database_path: "%kernel.root_dir%/data.db3"

    mailer_transport:  smtp
    mailer_host:       127.0.0.1
    mailer_user:       ~
    mailer_password:   ~

    # A secret key that's used to generate certain security-related tokens
    secret:            ThisTokenIsNotSoSecretChangeIt

    # Domains
    web_domain: @domain.com
    #api_domain: @domain.com
    #mongodb_server: "mongodb://localhost/27017"
    crawler_getthat_auth:
        "x-algolia-agent": "Algolia for vanilla JavaScript 3.22.1;JS Helper 2.20.1"
        "x-algolia-application-id": "TFA301Y859"
        "x-algolia-api-key": "ZjA4MjgyZTg3ZGJkMTA1OWQ5OTNkODJmMzgyZjAyZGY3YjMzMjEyMTVjZmViYTU3ZWZiNmEyZTFhNDIzOWM1YWZpbHRlcnM9aXNWaXNpYmxlJTNBJTIwdHJ1ZQ=="
    crawler_dubizzle_auth:
        "x-algolia-agent": "Algolia for vanilla JavaScript 3.22.1;react-instantsearch 3.3.1;JS Helper 2.19.0"
        "x-algolia-application-id": "WD0PTZ13ZS"
        "x-algolia-api-key": "NzViZDhiMjdlYWU5OGVjOWRkYzQ5ZTE1NjNmZjFiMzgxZWY2NjZkZGFlMzFiYWU5NWM0NzcyNTMxNTU4M2Y4NXVzZXJUb2tlbj1jYWN1eG1naHNvd2d1dzJvMW4yNHhqeG5jZmhsMXVxeiZ2YWxpZFVudGlsPTE0OTM0MTY4MDA="
    crawler_user_agent: "Mozilla/5.0 (Windows NT 5.2; RW; rv:7.0a1) Gecko/20091211 SeaMonkey/9.23a1pre"
    site_title: "WeBuyCars"
    company_name: "Fast Visit for estimating & evaluation Co."
    company_office_number: "Office #4711"
    company_office_building: "Aspin Tower"
    company_office_street: "Sheikh Zayed Road, Dubai UAE"
    site_phone: "04 123 4567"
    site_menu:
        - slug: "about-us"
          title: "About Us"
        - slug: "how-it-works"
          title: "How It Works"
        - slug: "contact-us"
          title: "Contact Us"
        - slug: "terms-and-conditions"
          title: "Terms & Conditions"
        - slug: "privacy-policy"
          title: "Privacy Policy"
    site_facebook: "https://www.facebook.com/"
    site_twitter: "https://twitter.com/"
    site_instagram: "https://www.instagram.com/"
    site_linkedin: "https://www.linkedin.com/"
