<form name="valuationStepOneForm" method="post" action="{{ ctrl.formActionUrl }}" ng-submit="ctrl.submit(valuationStepOneForm, $event)" class="form {{ ctrl.formClass }}" novalidate>
    <div class="form-group {{ ctrl.formGroupClass }}">
        <select ng-class="{'form-control-invalid': valuationStepOneForm.$submitted && valuationStepOneForm.vehicleMake.$invalid }" name="vehicleMake" required ng-change="ctrl.changedVehicleMake()" ng-model="ctrl.vehicleMakeId"  class="form-control">
            <option value="">Vehicle Make</option>
            <option value="{{  vehicleMake.id }}" ng-repeat="vehicleMake in ctrl.vehicleMakes">{{ vehicleMake.name }}</option>
        </select>
        <p class="text-error hidden"
           ng-class="{'hidden': !valuationStepOneForm.$submitted || valuationStepOneForm.vehicleMake.$valid }">Select a Vehicle Make</p>
    </div>
    <div class="form-group {{ ctrl.formGroupClass }}">
        <select ng-class="{'form-control-invalid': valuationStepOneForm.$submitted && valuationStepOneForm.vehicleModel.$invalid }" name="vehicleModel" required ng-model="ctrl.vehicleModelId" class="form-control">
            <option value="">Vehicle Model</option>
            <option value="{{  vehicleModel.id }}" ng-repeat="vehicleModel in ctrl.vehicleModels">{{ vehicleModel.name }}</option>
        </select>

        <p class="text-error hidden"
           ng-class="{'hidden': !valuationStepOneForm.$submitted || valuationStepOneForm.vehicleModel.$valid }">Select a Vehicle
            Model</p>
    </div>
    <div class="form-group {{ ctrl.formGroupClass }}">
        <select ng-class="{'form-control-invalid': valuationStepOneForm.$submitted && valuationStepOneForm.vehicleYear.$invalid }" name="vehicleYear" required ng-model="ctrl.vehicleYear" class="form-control">
            <option value="">Vehicle Year</option>
            <option value="{{ vehicleYear }}" ng-repeat="vehicleYear in ctrl.vehicleYears">{{ vehicleYear }}</option>
        </select>

        <p class="text-error hidden"
           ng-class="{'hidden': !valuationStepOneForm.$submitted || valuationStepOneForm.vehicleYear.$valid }">Select a Vehicle
            Year</p>
    </div>
    <div class="form-group {{ ctrl.formGroupSubmitClass }} {{ ctrl.formGroupClass }}">
        <button type="submit" class="btn btn-primary btn-lg ellipsis">{{ ctrl.formButtonText }}</button>
    </div>
</form>