{% if object.status == 'offer_accepted' %}

    {% if object.deal is not null %}
        <a href="{{ path('admin_wbc_branch_deal_show', {id: object.deal.id}) }}"
           class="btn btn-sm btn-info view_link"
           title="Show Deal">
            Show Deal
        </a>
    {% else %}
        <a href="{{ path('admin_wbc_branch_inspection_generateDeal', {id: object.id}) }}"
           class="btn btn-sm btn-danger view_link convert-to-deal"
           title="Convert to Deal">
            Convert to Deal
        </a>
    {% endif %}
{% endif %}