{% if object.usedCar is null %}
    <a href="{{ path('admin_wbc_branch_deal_generateUsedCarFromDeal', {id: object.id}) }}"
       class="btn btn-sm btn-info view_link"
       title="Generate a Used Car">
        Generate a Used Car
    </a>
{% endif %}