{% if object.inventory is not null %}
    <a href="{{ path('admin_wbc_inventory_inventory_show', {id: object.inventory.id}) }}"
       class="btn btn-sm btn-success view_link"
       title="Show Inventory">
        Show Inventory
    </a>
{% endif %}