{% extends '@WbcStatic/Default/base.html.twig' %}

{% block seoHead %}
    {% if metaPath is defined %}
        {% include metaPath %}
    {% else %}
        {{ parent() }}
    {% endif %}
{% endblock %}

{% block body %}
    {{ parent() }}

    <article class="text-center">
        <section>
            <div class="container">
                <div class="row">
                    <div class="col-md-8 col-md-offset-2">
                        {{ content|md2html }}
                    </div>
                </div>
            </div>
        </section>
    </article>

    {% include 'WbcStaticBundle:partials:inline-valuation-form.html.twig' %}

{% endblock %}