{% block title %}<title>{{ site_title }} is Built To Help Anyone In UAE Sell Their Car Fast</title>{% endblock %}
{% block meta %}
    <meta name="description"
          content="{{ site_title }} is managed and powered by {{ company_name }}. We are a team of automotive engineers with experience of  25+ years">
{% endblock %}