{% block title %}<title>Looking For a Car Buyer Dubai? We Are Simply Car Buyers in Dubai</title>{% endblock %}
{% block meta %}
    <meta name="description"
          content="Car buyer Dubai - This is the what people call us. We are simply car buyers who will help you get a fair price for your car in Dubai. Contact us now.">
    <meta name="keywords"
          content="Car Buyer Dubai, Simply Car Buyers, Car Buyers">
{% endblock %}