{% block title %}<title>Car Trade Dubai | Trade Your Car For Cash in Dubai. Fair Price!</title>{% endblock %}
{% block meta %}
    <meta name="description"
          content="Car Trade Dubai? Let's get you the best price for your car. Starting trading your car for cash with us now. Fair price and instant cash.">
    <meta name="keywords"
          content="">
{% endblock %}