{% block title %}<title>Cash Your Car UAE: We Will Cash Any Car, Used or New, In Dubai</title>{% endblock %}
{% block meta %}
    <meta name="description"
          content="Cash your car UAE - We cash any car in less than 30 minutes. We pay cash for any car in Dubai whether it's used or new. Fair price and instant cash.">
    <meta name="keywords"
          content="Cash for Cars Dubai, Cash Your Car Dubai, Sell Car for Cash Dubai, Cash Your Car, Cash Your Car UAE, Cash Any Car, We Cash Any Car, Cash My Car, Cash for Cars">
{% endblock %}