{% block title %}<title>Frequently Asked Questions About Our Service - {{ site_title }}</title>{% endblock %}
{% block meta %}
    <meta name="description"
          content="We have compiled a list of the most frequently asked questions to help you when selling your car.">
{% endblock %}