{% block title %}<title>Fastest Way to Sell a Car in 3 Simple Steps</title>{% endblock %}
{% block meta %}
    <meta name="description" content="We make car sale quick and easy. We buy cars in any condition in less than 30 minutes. Get your Free car valuation now and visit us!">
{% endblock %}