{% block title %}<title>{{ site_title }} - Our Privacy Policy</title>{% endblock %}
{% block meta %}
    <meta name="description"
          content="Before you use our website, please read the Privacy Policy to understand how your information may or may not be used.">
{% endblock %}