{% block title %}<title>Selling Car Dubai - We Are The Best Selling Car Website in UAE</title>{% endblock %}
{% block meta %}
    <meta name="description"
          content="Selling a car in Dubai is a hassle. Selling your car should be an easy process. We can help you do just that. Fair price, instant cash and no extra fees.">
    <meta name="keywords"
          content="Car selling websites, selling car Dubai, procedure for selling a car in Dubai, selling a car, car selling websites in UAE, best-selling cars in UAE">
{% endblock %}