{% block title %}<title>Read {{ site_title }} Terms And Conditions</title>{% endblock %}
{% block meta %}
    <meta name="description"
          content="Please read the terms and conditions of our business to understand the process of selling your car to us. Click here.">
{% endblock %}