<section>
    <div id="sell-any-car-you-have" class="container-fluid bg-dark-color">
        <div class="row">
            <div class="col-md-12 text-center">
                <div class="h1">Sell Any Car You Have</div>

                <p>Simply choose your vehicle make, model and year to start valuation process</p>
                {% include 'WbcStaticBundle:partials:bare-inline-valuation-form.html.twig' %}
            </div>
        </div>
    </div>
</section>