<section>
    <div id="sell-any-car-you-have" class="container-fluid bg-dark-color">
        <div class="row">
            <div class="col-md-12 text-center">
                <h1>Sell Any Car You Have</h1>

                <p>Simply choose your vehicle make, model and year to start valuation process</p>

                <valuation-step-one form-class="form-inline"
                                    form-group-class="col-md-3"
                                    form-button-text="Get FREE Online Valuation"
                                    vehicle-makes="{{ getMakes()|serialize }}"
                                    vehicle-years="{{ getModelYears()|serialize }}">
                </valuation-step-one>
            </div>
        </div>
    </div>
</section>