{% block header %}
    <header class="text-center">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <h2>Your Vehicle Value</h2>
                </div>
                <div class="col-md-12">
                    <h1>AED 45,500</h1>
                </div>
                <div class="col-md-12">
                    <p>2014 - Toyota 86 - GTX - Manual - Partial Repaint</p>
                </div>
            </div>
        </div>
    </header>
{% endblock %}