{% extends 'SonataAdminBundle::standard_layout.html.twig' %}

                        {% block sonata_admin_content %}
                            {% block notice %}
                                {% for type, flashMessages in app.session.flashbag.all() %}
                                    {% for flashMessage in flashMessages %}
                                        {% set class = 'success' %}
                                        {% if type == 'warning' %}
                                            {% set class = 'warning' %}
                                        {% elseif type == 'error' %}
                                            {% set class = 'danger' %}
                                        {% endif %}
                                        <div class="alert alert-{{ class }} alert-dismissable">
                                            <button type="button" class="close" data-dismiss="alert"
                                                    aria-hidden="true">&times;</button>
                                            {{- flashMessage -}}
                                        </div>
                                    {% endfor %}
                                {% endfor %}
                            {% endblock %}
                            {% block craue_config_content %}
                            {% endblock %}
                        {% endblock %}
