.btn {
  font-family: $headings-font-family;
  width: 100%;
  font-size: 100%;
  border-radius: 100px;
  color: $headings-color;
  border-color: transparent;
  line-height: 22px;

  &:hover, &:focus, &:active, &:visited {
    border-color: transparent;
    color: inherit;
    outline: 0;
  }
}

.btn-primary {
  background-color: $sunflower-yellow-color;

  &:hover, &:focus, &:active {
    color: inherit;
    background-color: $sunflower-yellow-color;
    border-color: transparent;
    outline: 0;
  }

  &:active{
    &:focus{
      color: inherit;
      background-color: $sunflower-yellow-color;
      border-color: transparent;
      outline: 0;
    }
  }
}

.appointment-funnel{
  .btn-primary {
    background-color: $apple-green-color;

    &:hover, &:focus, &:active {
      background-color: $apple-green-color;
    }

    &:active {
      &:focus {
        background-color: $apple-green-color;
      }
    }
  }
}

.btn-lg, .btn-lg, .btn-group-lg > .btn {
  padding: 14px 16px;
}

@media (min-width: $screen-sm-max) {
  #btn-career-apply-top{
    margin-top: 30%;
  }
}
