@import "variables";
@import "fonts";
@import "bootstrap/bootstrap-sprockets";
@import "bootstrap/bootstrap";
@import "font-awesome/font-awesome";
@import "navbar";
@import "type";
@import "jumbotron";
@import "forms";
@import "buttons";
@import "utilities";
@import "angular-ui";

@font-face {
  font-family: 'Glyphicons Halflings';
  src: url(#{$icon-font-path}#{$icon-font-name}.ttf) format('truetype');
  src: url(#{$icon-font-path}#{$icon-font-name}.eot?#iefix) format('embedded-opentype'),
  url(#{$icon-font-path}#{$icon-font-name}.woff) format('woff'),
  url(#{$icon-font-path}#{$icon-font-name}.ttf) format('truetype'),
  url(#{$icon-font-path}#{$icon-font-name}.svg##{$icon-font-svg-id}) format('svg');
}

.thumbnail{
  border: none;
  background-color: transparent;
}

#reviews{
  background-color: $dark-color;
  padding: 46px floor(($grid-gutter-width / 2)) 46px ceil(($grid-gutter-width / 2));
  height: 504px;

  .img-circle{
    max-width: 96px;
    max-height: 96px;
  }
}

.carousel-control{
  background: none;
  top: 30%;

  &.left, &.right{
    background: none;
  }

  //  &.left{
  //    left: -5%;
  //  }
  //  &.right{
  //    right: -5%;
  //  }
}

#appointments-stats{
  background: $apple-green-color url("../../images/appointments-bitmap.png") no-repeat;
  background-size: cover;
  padding: 149px floor(($grid-gutter-width / 2)) 149px ceil(($grid-gutter-width / 2));
  height: 504px;
}

#mobile-friendly{
  padding: 252px floor(($grid-gutter-width / 2)) 252px ceil(($grid-gutter-width / 2)) ;
  @media (max-width: $screen-sm-max) {
    padding-top: 0;
    padding-bottom: 0;
  }
}

#mobile-phone{
  padding: 63px 38px;
}

#valuation-container{
  padding-bottom: 120px;
}

#book-appointment-form{
  padding: 94px 30px;
}

#appointment-confirmation-map-container{
  padding-top: ($line-height-computed + 90);
}

#appointment-confirmation-map{
  max-height: 320px;
  overflow: hidden;
  padding-top: 18px;
  margin-bottom: 120px;
}

#footer-contact {
  background-color: $white-color;
  padding: 103px floor(($grid-gutter-width / 2)) 103px ceil(($grid-gutter-width / 2));
}

#second-row-container{
  margin-top: 10px;
}

.book-appointment-button-container {
  padding-top: 40px;
  padding-bottom: 40px;
}

.img-responsive {
  width: 100%;
}

.inline-valuation-container{
  min-height: 80px;
  padding-top: 15px;
  padding-bottom: 15px;
  background-color: #e9e9e9;
}
