{% extends '@WbcStatic/Default/base.html.twig' %}
{% block title %}<title>Get Your Free online Car Valuation | {{ site_title }}</title>{% endblock %}
{% block meta %}
    <meta name="description" content="Free car valuation on WeBuyCarsDxb.com. Know your used car value in few seconds and book your appointment now. Purchase guaranteed.">
{% endblock %}
{% block header %}
    <header>
        <div class="container text-center">
            <div class="row">
                <div class="col-md-12">
                    <h1>And Finally&hellip;</h1>

                    {% if form is defined and form is not null %}
                        <div class="alert alert-danger" role="alert">
                            <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
                            <span class="sr-only">Errors:</span>
                            {{ form_errors(form) }}
                        </div>
                    {% endif %}
                </div>
            </div>
        </div>
    </header>
{% endblock %}

{% block body %}
    {{ parent() }}
    <section>
        <div id="valuation-container" class="container text-center" ng-controller="ValuationStepThreeController as ctrl">
            <form name="valuationStepThreeForm" ng-submit="ctrl.submitForm(valuationStepThreeForm.$valid)" method="post" class="form appointment-funnel" novalidate>
                <div class="row">
                    <div class="col-md-4 col-md-offset-4">
                        <div class="form-group">
                            <input ng-model="ctrl.name" ng-class="{'form-control-invalid': valuationStepThreeForm.$submitted && valuationStepThreeForm.name.$invalid }"
                                   required name="name" type="text" class="form-control" placeholder="Type your name">
                            <p class="text-error hidden"
                               ng-class="{'hidden': !valuationStepThreeForm.$submitted || valuationStepThreeForm.name.$valid }">Type your name</p>
                        </div>
                        <div class="form-group">
                            <input data-type="telephone" ng-model="ctrl.mobileNumber" ng-pattern="/^(0|((\+|00)?971))(50|51|52|53|54|55|56|57|58|59)\d{7}$/" ng-class="{'form-control-invalid': valuationStepThreeForm.$submitted && valuationStepThreeForm.mobileNumber.$invalid }"
                                   required name="mobileNumber" type="text" class="form-control" placeholder="Type your mobile number (You will receive an SMS)">
                            <p class="text-error hidden"
                               ng-class="{'hidden': !valuationStepThreeForm.$submitted || valuationStepThreeForm.mobileNumber.$valid }">Type a valid UAE mobile phone number</p>
                        </div>
                        <div class="form-group submit">
                            <button type="submit" class="btn btn-primary btn-lg">See your Vehicle Value</button>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </section>

    {% include 'WbcStaticBundle:partials:section-text.html.twig' with {
    'title': 'Get Your Free Online Car Valuation with WeBuyCarsDxb.com',
    'content': '<p>When it’s time to sell your car, the process can be long, complicated and tiring. With over 25 years experience in the automotive industry WeBuyCarsDxb.com assures you the value of your car in just a few seconds. We have come across many people who want to sell their cars for different reasons. They often rely on classifieds and friendly references to sell the car, however a lot of time and energy is wasted with such methods.</p>
                <p>Our professional car assessment tool allows you to instantly get to know the highest value of your car after you have entered in your details. So if you are looking to sell your used car for the right price then valuate your car with us, book an appointment, visit us to <a href="/how-to-sell-my-car-in-dubai">sell your car</a> and get paid in cash.</p>'} %}

{% endblock %}
