# About Us

<a href="/">WeBuyCarsDxb.com</a> is managed and powered by Smart Wheels Auctions Organizing llc. We are a team of professional automotive engineers with a collective experience of more than 25 years in the automobile industry. We are a professional car buying service provider in Dubai consisting of an experienced staff to make it easy for you to sell your car in 30 minutes for cash in hand. Regardless of your car’s make, model and year, <a href="/">WeBuyCarsDxb.com</a> will buy any car.

You can sell your car to us hassle free without placing any ads online or attending to hundreds of phone calls from potential buyers, or schedule your busy day to show other people your car without their guarantee to buy it.

You are assured of a fast sale and you walk away with Cash in hand.

We stand out from the competition by providing the below experience to you:
<ul class="list-unstyled text-left">
    <li><span class="text-bold">Quick service</span> – Our car experts will complete the full car inspection and the deal with you in less than 30 minutes.</li>
    <li><span class="text-bold">Professional staff</span> – Our experienced team know their cars, which makes the process easy for you to sell your car.</li>
    <li><span class="text-bold">Quick sale</span> – Sell your car quickly regardless of the condition or if it’s under bank loan</li>
    <li><span class="text-bold">Hassle-free</span> – We will handle the full buying and transfer process. You don’t have to go to RTA.</li>
    <li><span class="text-bold">Fair market price</span> – We provide a fair market price for your car</li>
</ul>
