# How We Operate

<div class="col-md-12">
    <div class="row">
        <div class="col-md-3">
            <img alt="Free Online Valuation" class="img-responsive" src="{{ asset('images/online-valuation.jpg') }}">
            <h3>Free Online Valuation</h3>
            <p>Check your car’s value on our website. You just need to enter a few details and you will get an
                indicative price.
            </p>
        </div>
        <div class="col-md-3">
            <img alt="Book An Appointment" class="img-responsive" src="{{ asset('images/book-appointment.jpg') }}">
            <h3>Book An Appointment</h3>
            <p>Simply book an appointment to visit our location for an inspection. Please bring all your car
                documents to complete the deal quickly.</p>
        </div>
        <div class="col-md-3">
            <img alt="Free Car Inspection" class="img-responsive" src="{{ asset('images/car-inspection.jpg') }}">
            <h3>Free Car Inspection</h3>
            <p>We will carry out a free car inspection at our location and offer you a competitive final price.</p>
        </div>
        <div class="col-md-3">
            <img alt="Get Cash for your Car" class="img-responsive" src="{{ asset('images/complete-deal.jpg') }}">
            <h3>Complete The Deal</h3>
            <p>Get Cash in Hand once you agree on the price and complete the sale in minutes. We handle complete RTA
                transfer process.</p>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <p>Webuycarsdxb.com aims to make <a href="/how-to-sell-my-car-in-dubai">selling your car</a> an easy and quick process for you. We pay you in Cash on
                the Spot and complete the sale in 30 minutes. We will handle the entire RTA transfer process.</p>
            <p>Please note, <strong><a href="/car-valuation">the value of your car</a></strong> provided by the website is based on information entered by you. It is subject to change following physical
                inspection of your car at our location.</p>
            <p>On the day of your appointment, you need to have the following with you:</p>
            <ul>
                <li class="text-left">Car registration card (Mulkiya)</li>
                <li class="text-left">Car service history (if any)</li>
                <li class="text-left">License and Emirates ID
                </li>
                <li class="text-left">Bank loan amount (if you have)</li>
            </ul>
            <p>If you agree to go ahead with the deal based on our final offer, we will pay you in Cash and complete the
                entire process in 30 minutes.</p>
        </div>
    </div>
</div>