# Privacy Policy

Before you use our website, please read the Privacy Policy to understand how your information may or may not be used. By using this website, you agree to the nature of business described in this Privacy Policy.

With our privacy policy we ensure that the information entered by you in our website is protected and secure. This information allows us to identify you and your car for the day and time of your appointment.

Your personal information will not be disclosed to an unauthorized person; however, we may use such information for our research, marketing or any other activity we may see fit in accordance with this privacy policy.

We may share information with selected authorized employees, business partners, agents, contractors and vendors with whom we work. In case of fraud prevention and investigation, your information may be disclosed to government agencies or other companies assisting us. This may be done to protect our customers and the company by law.

<h3>Cookies</h3>
We use cookies to collect information and visitor behavior patterns when you visit our website. This allows us to collect and analyze data about traffic coming in to our website so we can customize it according to our customer needs.

Cookies do not give us access to your computer or mobile phone other than the data you enter into the website while booking an appointment. We are not able to access any other personal information from you other that the information entered by you while booking an appointment.  Cookies are used by us to monitor user behavior on our website in order for us to provide you with a better website.

If we make changes to the Privacy Policy in the future, we will post them here with reference to the date on which the changes were made.

<h3>Liabilities</h3>
<a href="/">WeBuyCarsDxb.com</a> reserves the right to amend any terms and conditions any time which will be posted on our homepage with the date of correction. Despite our best efforts to publish accurate and up to date information on our site, there may be mistakes or errors as We do not accept responsibility for errors within our website which will be rectified promptly once brought to our attention.

We do not accept any liability of any kind for damages or losses arising out of or in connection with your use of this website. This includes, but not limited to: direct loss, loss of business or profits, damage caused to your computer, software, systems and programs, and the data thereon or any other direct or indirect, consequential and incidental damages.

This does not affect your rights; and does not include our liability for negligence and risk of injury or death. These Terms of Use shall be governed by and construed in accordance with contract and UAE law and are subject to the exclusive jurisdiction of the Dubai Courts.
