# Terms & Conditions

Please read the below terms and conditions to understand the process of selling your car to us.

<h3>Website Valuation</h3>
The price on the website is only an estimation of the value of the car based on the information entered by you. It is subject to change in case of any technical issues on the website. The price offered by our car inspector at our branch is the final price we offer for your vehicle.

<h3>Inspection On-site</h3>
Our professional and experienced team of car inspectors will evaluate the condition of your car at our branch. The price quote offered by our car inspector is the fair current market value for your car depending on features, history and current condition of the car. In case your car has excessive damage or is in no condition to run, we will not be obliged to make you an offer, or the offer made by us will drastically vary from the valuation price you receive on our website.

<h3>What We Do</h3>
When you visit us, we will offer you a professional and quick service to make it easy and fast for you to sell your car and receive cash. The website is pre-programmed to show a price based on the information entered by you. Based on the price you can proceed to book an appointment with us if you wish. Once you are at our branch, we will offer you a price based on the current physical inspection of your car taking into account the car’s features, history and condition. If you agree to the deal, you will be required to sign a document after which we will be responsible for transferring the car out of your name.

<h3>Making a Cash Offer</h3>
After your car has been inspected by our experienced car inspector, we will make you an offer taking into account your current car condition and features. This offer will be valid for the current time during which you are present at our branch.
After the day of your car inspection, the same offer provided to you may not be guaranteed due to changing market conditions. If you come on a different day after your initial inspection and choose to go ahead with selling your car, we may be obliged to inspect your car again. The offer provided to you at the time of the subsequent inspection may differ from the initial offer made to you which could be due to market trend or change in your car’s condition.

<h3>Contract to Purchase the vehicle</h3>
If you agree to go ahead with the final offer given to you after complete physical inspection of your car, you will have to sign a legally binding contract with us to complete the deal. You are free to decline our offer if you are not comfortable with the price.
Once you have signed the contact with us, you are expected to hand over the car keys and all car related documents to us.
This is a legally binding contract and after it is signed you will not be able to decline the offer. From our side we will not change the price after you have signed the contract. However, if in future if we discover any additional major faults in the vehicle which were not noticed at the time of inspection, then we reserve the right to withdraw the offer.
If, for whatever reason we find that you have purposefully held back vital information about your car at the time of inspection, we will withdraw the offer.

<h3>Payment Method</h3>
We pay you cash on the spot for agreeing to purchase your car. However, if you wish to receive payment via bank transfer we can do that, in which case it will take 2-3 business days after the day of sale for your money to arrive into your bank account. We will not be held responsible for any delay in payments due to bank or administrative error.

<h3>Feedback</h3>
For any feedback queries, you can write to us at <a href="mailto: feedback@webuycarsdxb.com">feedback@webuycarsdxb.com</a>
The above information tells you the terms on which you may sell your car to us. Before you book an appointment with us, please read the above terms and conditions carefully. If you wish to sell your car to us, you agree to be bound by the above terms
